.container {
  float: left;
  position: fixed;
  height: 700px;
  width: 400px;
  top: 50%;
  left: 50%;
  margin-left: -200px;
  margin-top: -350px;
  background: #fff;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
}

.block {
  float: left;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 30px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
}