.container{
  height: 100vh;
}

#session{
  height: 100vh;
}

#session-header{
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  position: absolute;
  top: 0;
}

#main-video{
  height: 100%;
  position: relative;
  top: 0px;
  left: 0px;
}

.session-header2{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

#message-footer{
  position: fixed;
  left:0px; 
  bottom:0px;
  width:100%;
}

.MuiButton-root.mui-btn {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 1px;
  margin-bottom: 1px;
}

.bidding-form {
    position: relative;
    top: 200px;
    left: 50%;
    transform: translate(-50%, 50%);
}

.img-tag{
  display: flex;
  /* width: 100%; */
  height: 100%;
  justify-content: start;
  align-items: center;
}

.profile-img{
  width: 100px;
  height: 50px;
}