
#session-header{
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  position: absolute;
  top: 0;
}

.session-header2{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 5px;
}
